@layout("/common/_commonList.html"){
<style>
	.form-group{
		margin-bottom:5px;
	}
</style>
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="row row-lg">
                 <form id="inputForm">
                	<input type="hidden" id="fileId" value="${fileId}"/>
                    <div class="col-sm-12">
                            <div class="col-sm-3">
                                <#NameCon id="condition" name="手机号码" />
                            </div>
                            <div class="col-sm-3">
	                              <#button name="搜索" icon="fa-search" clickFun="AplusList.search()"/>
	                              <#button name="重置" icon="fa-trash" clickFun="AplusList.reset()" space="true"/>
                            </div>
                        <#table id="ListTable"/>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/system/userWhitelist/userWhitelistlist.js"></script>
@}
